*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.App{
  position: relative;
  overflow: hidden;
}
header{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}