.home_banner{
    width: 100%;
    padding: 150px 0px;
    background-image: url('../Assets/Homeloansimg.png');
    background-size: cover;
    color: white;
}
.title{
    font-size:45px;
}
.text_shadow{
    text-shadow: 0px 0px 1px #00adef;
    color: #00adef;
}
.welcome_msg{
    font-size: 20px;
    margin-top: 20px;
}

.home_banner .btn{
    margin: 0;
}

@media (max-width:767px){
    .home_banner{
        text-align: center;  
    }
    .home_banner .title{
        font-size: 30px;
    }
    .home_banner .btn{
        margin: 0 auto !important;
    }
}